/Clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/Tareas/TareaLibro/nbproject/private/
/Tareas/TareaLibro/build/
/Clases/ConceptosBasicos/build/
/Clases/ConceptosBasicos/dist/
/Tareas/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/build/
/Tareas/TareaLibroPelicula/nbproject/private/
/Tareas/TareaLibroPelicula/build/
